.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 15px 30px;
  width: 50%;
  height: 40px;
  border-radius: 17px;
  box-sizing: border-box;
  border:3px solid rgba(182, 186, 190, 0.49);
  font-size: 8px;
  color: rgba(182, 186, 190, 0.49);

  & i {
    margin-right: 7px;
  }

}

