$bg-color-button: #f57153;
$bg-color-icon: #18a806;

.password-indicator-container {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 15% auto;
  box-shadow: -3px 3px 10px -2px rgba(0,0,0,0.4);
  overflow: hidden;
}


.info-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  box-shadow: -3px 3px 10px -2px rgba(0,0,0,0.4);
  z-index: 4;
  &.info-hidden {
    animation-name: hidden-inf;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in;
  }

  &.info-show {
    animation-name: show-inf;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
  }


  & .pass-img {
    width: 100%;
  }
  & .info-title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  & .info-text {}
  & .info-button {
    width: 50%;
    margin-top: 50px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: $bg-color-button;
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.2s ease-in 0.1s;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 11px 9px -7px rgba(0,0,0,0.3);

    }
  }
}

.form-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  & .back {
    position: absolute;
    right: 50px;
    padding: 3px 15px;
    border-radius: 15px;
    transform: rotateZ(180deg);
    background-color: $bg-color-button;
    transition: all 0.1s ease-in-out 0.1s;
    color: #fff;
    &:hover {
      padding-left: 23px;
    }
    & i:hover {
      cursor: pointer;
    }
  }
  & .icon-success {
    color: $bg-color-icon;
    position: absolute;
    border-radius: 100%;
    top: 156px;
    z-index: 5;
    font-size: 0.9em;
    left: calc(50% - 5px);
  }

  & .lock-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 59px;
    width: 100%;
  }

  & .circle-password {
    position: relative;
    width: 130px;
    height: 130px;
    margin-left: -130px;
    animation-name: spinnerRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }

  & .lock-password {
    position: relative;
    width: 30%;
    width: 130px;
    height: 130px;
  }

  & .circle-animate {
    animation-play-state: running;
  }

  & .stop {
    animation-play-state: paused;
  }
  & .form-input {
    &:focus {
      box-shadow: none;
    }
  }

  & form .show-pass:hover {
    cursor: pointer;
  }

  & .indicator-container {
    width: 100%;
  }
}

//**documentation page

.documentation {
  font-size: 14px;
  display: flex;
  justify-content: center;

  & a {
    color: #f57153;
  }

}

//**animation

@keyframes hidden-inf {
  0%{
    left: 0%;
  }

  100% {
    left: 101%;
  }

}

@keyframes show-inf {
  0%{
    z-index: 4;
    left: 101%;
  }

  100% {
    left: 0%;

  }

}

@keyframes spinnerRotate
{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
