<div class="password-indicator-container">
  <div
    [ngClass]="[(info_h)? '': 'info-hidden', (info_s)? 'info-show': '']"
    class="info-container">
    <img class="pass-img"
         src="https://static.lingoapp.com/assets/images/email/il-password-reset@2x.png"
         alt="password">
    <h3 class="info-title">Get strength password</h3>
    <p class="info-text">Let's get you a new strength password.</p>
    <button
      (click)="hiddenInfo(true)"
      class="info-button">Get password</button>

  </div>
  <div class="form-container">
    <span class="back">
      <i (click)="showInfo(true, password)"
         class="fa fa-sign-in"
         aria-hidden="true"></i>
    </span>

    <i *ngIf=" pass >= 12 " class="fa fa-check-circle icon-success" aria-hidden="true"></i>
    <div class="lock-container">
      <img
        class="lock-password " src="../../assets/img/password.png"
        alt="validation">
      <img
        [ngClass]="{'circle-animate': animate, 'stop': pass >= 12}"
        class="circle-password" src="../../assets/img/change-password.png"
        alt="validation">
    </div>
    <form [formGroup]="appForm">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i
              (click)="showPass(password)"
              [ngClass]="{'fa-eye-slash': show}"
              class="fa fa-eye show-pass show-pass"
              aria-hidden="true"></i>
          </span>
        </div>
        <input type="password"
               #password
               (focus)= "addAnimation()"
               (blur)= "remoteAnimation()"
               (ngModelChange)="setStrength(password.value)"
               formControlName="passwordControl"
               class="form-control form-input"
               maxlength="12"
               aria-describedby="basic-addon1">
      </div>
    </form>
    <div class="indicator-container">
      <app-bar-indicator [strengthRule]="pass"></app-bar-indicator>
    </div>
  </div>
</div>

<div class="documentation">
  <span>
  You can use
  <a [routerLink]="'/doc'">documentation</a>
  <i class="fa fa-info-circle" aria-hidden="true"></i>
</span>
</div>

